/**** 通用样式 *****/
.text{
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

/**** banner文字 *****/
.wrap-title{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wrap-title .text{
    text-align: center;
    margin: 10px 0;
}
.wrap-title .img{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
}

/**** 顶部导航菜单 *****/
.view-menu{
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #32A7B8;
}
.view-menu .wrap-menu{
    display: inline-block;
    width: 60%;
    min-width: 800px;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
}
.view-menu .wrap-menu .item{
    display: inline-block;
    padding: 6px 0;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.view-menu .wrap-menu .item:hover{
    text-decoration: underline;
    color: #ddd;
}
/**** 主要内容 *****/
.view-main{
    position: relative;
    margin: 0 auto;
    width: 60%;
    min-width: 800px;
    padding: 0;
    overflow: hidden;
}
.view-main .wrap-content{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.view-main .wrap-content .item{
    margin: 10px 0;
    padding: 10px 10px;
    overflow: hidden;
    border-bottom: solid 1px #eee;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.view-main .wrap-content .item:last-child{
    border-bottom: none;
}
.view-main .wrap-content .item:hover{
    background-color: #D7F0F3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.view-main .item .title{
    color: #666;
    font-size: 16px;
}
.view-main .item .text{
    color: #999;
    font-size: 14px;
}

/**** 控制vue不显示未编译内容 *****/
[v-cloak] {
    display: none;
}